<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= pageData.extensionData.name ? (pageData.extensionData.name + " - ") : "" %><%= serverData.name %> Extension Builder - Skynet Admin Console</title>
	<%- include('../partials/head') %>
</head>
<body onload="SkynetUtil.SFS();">
	<%- include('../partials/dashboard-header') %>
	<%- include('../partials/dashboard-socket-updates') %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<%- include('../partials/admin-menu') %>
				</div>
				<div class="column">
					<h1 class="title">
						Extension Builder
					</h1>
					<%- include('../partials/extension-builder', { isGallery: false, pageData: pageData, configData: configData, serverData: serverData }) %>
				</div>
			</div>
		</div>
	</section>

	<%- include('../partials/footer') %>
	<%- include('../partials/scroll-top-button') %>
</body>
</html>
