<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= pageData.pageTitle %> | Skynet Discord Bot Blog</title>
	<%
	// SEO for blog pages - dynamic based on mode
	if (typeof pageData !== "undefined") {
		const isArticle = pageData.mode === "article" && pageData.blogPost;
		const articleDescription = isArticle && pageData.blogPost.content 
			? pageData.blogPost.content.replace(/<[^>]*>/g, '').substring(0, 155).trim() + '...'
			: null;
		
		pageData.seo = {
			title: `${pageData.pageTitle} | Skynet Discord Bot Blog`,
			description: articleDescription || "Latest news, updates, and announcements for Skynet Discord bot. Stay informed about new features, tips, and community highlights.",
			keywords: isArticle 
				? `${pageData.blogPost.title}, ${pageData.blogPost.category}, Discord bot blog, Skynet updates`
				: "Discord bot blog, Skynet updates, Discord bot news, Discord server tips, bot announcements",
			type: isArticle ? "article" : "blog"
		};
		pageData.breadcrumbs = [
			{ name: "Home", url: "/" },
			{ name: "Blog", url: "/blog" }
		];
		if (isArticle) {
			pageData.breadcrumbs.push({ name: pageData.blogPost.title, url: `/blog/${pageData.blogPost.id}` });
		}
	}
	%>
	<%- include('../partials/head') %>
	<% if (pageData.mode === "article" && pageData.blogPost) { %>
	<!-- Article Schema for Blog Post -->
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "<%= pageData.blogPost.title.replace(/"/g, '\\"') %>",
		"description": "<%= pageData.blogPost.content ? pageData.blogPost.content.replace(/<[^>]*>/g, '').substring(0, 155).replace(/"/g, '\\"').trim() : '' %>",
		"image": "<%= typeof hostingURL !== 'undefined' ? hostingURL.replace(/\/$/, '') : '' %>/static/img/logo.png",
		"author": {
			"@type": "Person",
			"name": "<%= pageData.blogPost.author.name.replace(/"/g, '\\"') %>"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Skynet Discord Bot",
			"logo": {
				"@type": "ImageObject",
				"url": "<%= typeof hostingURL !== 'undefined' ? hostingURL.replace(/\/$/, '') : '' %>/static/img/logo.png"
			}
		},
		"datePublished": "<%= pageData.blogPost.rawPublished %>",
		"dateModified": "<%= pageData.blogPost.rawPublished %>",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "<%= typeof hostingURL !== 'undefined' ? hostingURL.replace(/\/$/, '') : '' %>/blog/<%= pageData.blogPost.id %>"
		},
		"articleSection": "<%= pageData.blogPost.category %>"
	}
	</script>
	<% } %>
</head>
<body>
	<section id="header" class="main-header-section hero is-primary is-small is-bold">
		<div class="hero-head">
			<%- include('../partials/header') %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-rss"></i>
                    </span>
                    Skynet blog
				</h1>
                <h3 id="blog-header-subtitle" class="subtitle is-3">
                    Dolphin Musings
                </h3>
                <%- include("../partials/adspace", { officialMode: typeof officialMode !== undefined ? officialMode : false, adsEnabled: true }) %>
                <% if (isMaintainer) { %>
                <a class="button is-white is-outlined" href="/blog/new">
                    <span class="icon is-small">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>New</span>
                </a>
                <% } %>
			</div>
		</div>
	</section>
	<section class="section is-white">
		<div class="container">
            <% if (pageData.mode === "article") { %>
                <% const { blogPost } = pageData; %>
                <%- include('../partials/blog-article', { blogPost }) %>
            <% } else if (pageData.mode === "list") { %>
                <% if (pageData.data.length > 0) { %>
                    <% pageData.data.forEach(blogPost => { %>
						<div class="box">
	                        <%- include('../partials/blog-article', { blogPost }) %>
						</div>
                    <% }); %>
                <% } else { %>
                    <% var activeSearchQuery, mode = "blog"; %>
                    <%- include("../partials/no-results", { isSearchQuery: true, activeSearchQuery, resetUrl: null, mode }) %>
                <% } %>

                <nav class="level is-mobile arrow-link">
                    <div class="level-left">
                        <% if (pageData.currentPage < pageData.numPages) { %>
                            <a class="button" href="/blog?page=<%= pageData.currentPage + 1 %>">
                                <span class="icon is-small">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span>Older Posts</span>
                            </a>
                        <% } %>
                    </div>
                    <div class="level-right">
                        <% if (pageData.currentPage > 1) { %>
                            <div class="level-item">
                                <a class="button" href="/blog?page=<%= pageData.currentPage - 1 %>">
                                    <span>Newer Posts</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </nav>
            <% } else if (pageData.mode === "compose") { %>
                <%- include('../partials/blog-composer') %>
            <% } %>
		</div>
	</section>

	<%- include('../partials/footer') %>
	<%- include('../partials/scroll-top-button') %>
</body>
</html>
